Src/Codge.Generator.Test/TestStore/XsdLoader/OptionalSequenceInSequence/Model.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OptionalSequenceInSequence">
    <xs:sequence>
      <xs:element name="elementInOuterSequence" type="xs:string"/>
       <xs:sequence minOccurs="0">
        <xs:element name="elementInInnerSequence1" type="xs:string"/>
        <xs:element name="elementInInnerSequence2" type="xs:string"/>
      </xs:sequence>
    </xs:sequence>
  </xs:complexType>
</xs:schema>