tests/Codge.Generator.Test/TestStore/XsdLoader/AttributeGroupRef/Model.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:attributeGroup name="attGroup">    
    <xs:attribute name="anAttribute" type="xs:string"/>
    <xs:attribute name="anAttribute2" type="xs:string" use="required"/>
  </xs:attributeGroup>
  
  <xs:complexType name="ordertype">
    <xs:attributeGroup ref="attGroup"/>
  </xs:complexType>

</xs:schema>