tests/Codge.Generator.Test/TestStore/XsdLoader/ElementWithEmbededType/Model.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="elementWithEmbededType">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="aSubElement" type="xs:string"/>
        <xs:choice>
          <xs:element name="elementInAChoice1" type="xs:string"/>
          <xs:element name="elementInAChoice2" type="xs:string"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>